
/* Featured artist section */

#artists {
    background-color: #c9d6df;
    color: #1e2022;
    font-weight: 600;
    text-align: left;
    position: relative;
}

#artists-title {
    padding-top: 1rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.artist_tag {
    font-style: italic;
    font-size: 1.5rem;
}

.msg-box {
    font-size: 1.25rem;
    color:  #52616b;
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.star-pic {
    align-self: left;
    height: 320px;
    width: 320px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/* Style tweeks for Tablets */

@media (max-width: 990px) {
    #title {
           /* padding-top: 1rem; */
        text-align: center;
        padding-bottom: 6rem;
    }
    #artists-title {
        font-size: 2.5rem;
        padding-top: .5rem;
    }
    .pic-box {
        text-align: center;
    }
    Borrowing mobile spacing div for tablet
    .for-mobile-spacing {
        padding-bottom: 2rem;
    }
}

  /* Mobile Styling */

@media (max-width: 780px) {
    .navbar {
        padding: 0 0 2.5rem;
    }
    #title {
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 4rem;
    }
    #title .container-fluid {
        padding: 0% 7% 0% 7%;
    }
    .big-heading {
        font-size: 3.0rem;
        line-height: 1.0;
    }
    #cover {
        margin-top: 10%;
        width: 200px;
        height: 200px;
    }
    #artists-title {
        padding-top: 1.5rem;
        font-size: 2.0rem;
    }
    #artists {
        text-align: center;
        padding-bottom: -1.25rem;
    }
    /* .msg-box {
        font-size: 1rem;
    } */
    /* .pic-box {
        text-align: center;
    } */
    /* .star-pic {
        width: 200px;
        height: 200px;
    } */
    .for-mobile-spacing {
        padding-bottom: 2rem;
    }
    /* #demos {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #demo-intro {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .tracks-img {
        width: 180px;
        height: 180px;
    }
    .email-btn .tooltiptext {
        /* Position the tooltip */
        /* margin-left: -6rem;
        position: absolute;
        z-index: 1;
      } */
    /* #footer {
        font-size: 1.0rem;
        margin: 0;
        padding-top: 4rem;
        padding-bottom: 10rem
    } */
}
