/* body {
    font-family: "Montserrat";
    color:#1e2022;
    text-align: center;
} */

/* h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-style: bold;
} */

/* First page title and cover art section */

#title {
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 10rem;
}

.big-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}

#cover {
    width: 350px;
    height: 350px;
}

#coverart {
    height: 60%;
    width: 60%;
    position: absolute;
    right: 30%;
}

.container-fluid{
    padding: 7% 15%;
  }

#title .container-fluid {
    padding: 7% 15% 7%;
}

/* Featured artist section */

#artists {
    background-color: #c9d6df;
    color: #1e2022;
    font-weight: 600;
    text-align: left;
    position: relative;
}

#artists-title {
    padding-top: 0rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
}
.artist_tag {
    font-style: italic;
    font-size: 1.5rem;
}

.msg-box {
    font-size: 1.25rem;
    color:  #52616b;
    margin-bottom: .5rem;
}

.star-pic {
    align-self: left;
    height: 320px;
    width: 320px;
    margin-bottom: 1rem;
}


/* Style tweeks for Tablets */

@media (max-width: 990px) {
    #title {
           /* padding-top: 1rem; */
        text-align: center;
        padding-bottom: 10rem;
    }
    .pic-box {
        text-align: center;
    }
    /* Borrowing mobile spacing div for tablet */
    .for-mobile-spacing {
        padding-bottom: 2rem;
    }
}

  /* Mobile Styling */

@media (max-width: 780px) {
    .navbar {
        padding: 0 0 2.5rem;
    }
    #title {
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 4rem;
    }
    #title .container-fluid {
        padding: 0% 7% 0% 7%;
    }
    .big-heading {
        font-size: 3.0rem;
        line-height: 1.0;
    }
    #cover {
        margin-top: 10%;
        width: 200px;
        height: 200px;
    }
    #artists-title {
        font-size: 1.75rem;
    }
    #artists {
        text-align: center;
    }
    .msg-box {
        font-size: 1rem;
    }
    .pic-box {
        text-align: center;
    }
    .star-pic {
        width: 200px;
        height: 200px;
    }
    .for-mobile-spacing {
        padding-bottom: 2rem;
    }
    #demos {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #demo-intro {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .tracks-img {
        width: 180px;
        height: 180px;
    }
    .email-btn .tooltiptext {
        /* Position the tooltip */
        margin-left: -6rem;
        position: absolute;
        z-index: 1;
      }
    #footer {
        font-size: 1.0rem;
        margin: 0;
        padding-top: 4rem;
        padding-bottom: 10rem
  }
}
