body {
    font-family: "Montserrat";
    color:#1e2022;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-style: bold;
}

/* First page title and cover art section */

#title {
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 16rem;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e2022;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-style: light;
    font-weight: 100;
}

.big-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}

#cover {
    width: 350px;
    height: 350px;
}

#coverart {
    height: 60%;
    width: 60%;
    position: absolute;
    right: 30%;
}

.container-fluid{
    padding: 7% 15%;
  }

#title .container-fluid {
    padding: 7% 15% 7%;
}

/* Apple Music & Google Play buttons */

.buy-btn {
   margin: 10% 3% 5% 3%;

}

/* Artist messages section */

#message {
    background-color: #c9d6df;
    color: #1e2022;
    font-weight: 600;
    text-align: left;
    position: relative;
}

#quote {
    padding-top: 2.0rem;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.msg-box {
    font-size: 1.25rem;
    /* color: #c9d6df; */
    color:  #52616b;
}

.star-pic {
    align-self: center;
    height: 280px;
    width: 280px;
    margin-bottom: 1rem;
}
/* Sample Tracks section */

#demos {
    background-color: white;
    position: relative;
}

#demo-intro {
    font-size: 3.5rem;
    font-weight: 600;
    color:#1e2022;
    margin-bottom: 3.5rem;
    padding-bottom: .75rem;
}

.demo-box {
    padding: 3.5%;
}

.tracks-img {
    display: block;
    width: 40%;
    height: 40%;
    margin: auto auto 2rem auto;
}

.track-title {
    font-size: 1.5rem;
    font-weight: 500
}

.play-btn {
    align-self: center;
    color: #52616b;
    width: 6rem;
    border: 2px solid #52616b;
    margin-bottom: 1rem;
}

.btn-secondary {
   background-color: #c9d6df;
}

.fa-play-circle {
    font-size: 2rem;
}

#audio-control {
    width: 12rem;
}

/* Final Section - Call to action and distribution channel icons */

#channels {
    padding-top: 2.0rem;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 3rem;
}

.logo-box {
    position: relative;
    padding: 1rem;
}

.m-logos {
    align-self: center;
    position: relative;
    padding: 0;
    border-radius: 0rem;
    border: none;
    height: 50px;
    width: 100px;
    margin: 0 0 0 0;
}

.m-logos:hover {
    transform: scale(1.1);
}

/* Footer and social icons */

#footer {
    font-size: 1.0rem;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 8rem;
    text-align: center;
}

.social-icon {
    color: #52616B;
    border: none;
    font-size: 35px;
    position: relative;
    cursor: pointer; /* Mouse pointer on hover */
}

.email-btn .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    width: 140px;
    background-color:#c9d6df;
    color:  #52616B;
    border-radius: 8px;
    border: solid 2px black;
    /* Position the tooltip */
    margin-left: -1rem;
    position: absolute;
    z-index: 1;
  }

.email-btn:hover .tooltiptext {
    visibility: visible;
  }

#ata-icon:hover {
    transform: scale(1.05);
  }

/* Style tweeks for Tablets */

@media (max-width: 990px) {
    #title {
           /* padding-top: 1rem; */
        text-align: center;
        padding-bottom: 10rem;
    }
    .pic-box {
        text-align: center;
    }
}

  /* Mobile Styling */

@media (max-width: 780px) {
    .navbar {
        padding: 0 0 2.5rem;
    }
    #title {
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 4rem;
    }
    #title .container-fluid {
        padding: 0% 7% 0% 7%;
    }
    .big-heading {
        font-size: 3.0rem;
        line-height: 1.0;
    }
    #cover {
        margin-top: 10%;
        width: 200px;
        height: 200px;
    }
    #quote {
        font-size: 1.75rem;
    }
    .msg-box {
        font-size: 1rem;
    }
    .pic-box {
        text-align: center;
    }
    .star-pic {
        width: 200px;
        height: 200px;
    }
    .for-mobile-spacing {
        padding-bottom: 50rem;
        margin-bottom: 50rem;
    }
    #demos {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    #demo-intro {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }
    .tracks-img {
        width: 180px;
        height: 180px;
    }
    #footer {
        font-size: 1.0rem;
        margin: 0;
        padding-top: 4rem;
        padding-bottom: 10rem
  }
}
