body {
    font-family: "Montserrat";
    color:#1e2022;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-style: bold;
}

/* First page title and cover art section */

#title {
    background-color: black;
    color: white;
    text-align: left;
    padding-bottom: 14rem;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #1e2022;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-style: light;
    font-weight: 100;
    background-color: black;
    background: black;
}

/* #navbarDropdownMenuLink {
    border: none;
    border-color: black;
} */

.navbar-expand {
    background-color: black;
}

 .dropdown-menu .dropdown-item {
    background-color: black;
    color: gray;
    border-top: none;
    border-bottom: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dropdown-item:hover {
    color: white;
}

.big-heading {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3.5rem;
    line-height: 1.5;
}

#cover {
    width: 100%;
    height: auto;
}

#coverart {
    height: 60%;
    width: 60%;
    position: absolute;
    right: 30%;
}

.container-fluid{
    padding: 7% 10%;
  }

#title .container-fluid {
    padding: 7% 10% 7%;
}

/* Landing Page Buttons - used in in V1 for sales, in V2 for routing to channels and demos sections */

.buy-btn {
   /* margin: 10% 3% 5% 3%; */
   margin: 10% 3% 5% 0%;

}

/* Artist messages section */

.msg-container {
    align-self: left;
}
#message {
    background-color: #c9d6df;
    color: #1e2022;
    font-weight: 600;
    text-align: left;
    position: relative;
}

#quote {
    padding-top: 2.0rem;
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 2rem;
    align-self: center;
}

.msg-box {
    font-size: 1.5vw;
    color:  #52616b;
    align-self: center;
    /* padding-right: .5rem; */

}

.pic-box {
    align-self: left;
}

.star-pic {
    align-self: left;
    height: auto;
    width: 100%;
    max-width: 600px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* Sample Tracks section */

#demos {
    background-color: white;
    position: relative;
}

.demo-header {
    font-style: bold;
    margin-top: 2rem;
    padding-top: 4.0rem;
    font-size: 3.0vw;
    font-weight: 600;
}

.demo-intro {
    font-size: 2.5vw;
    font-weight: 600;
    margin-bottom: 1.5rem;
    align-self: center;
}

.demo-box {
    padding: 3.0%;
}

/* changes boostrap button icons. -- borrowed from stackoverflow */

.carousel-indicators li {
    background-color: #52616b;
}

.carousel-indicators .active {
    background-color: #1e2022;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.tracks-img {
    display: block;
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: auto auto 2rem auto;
}

.track-title {
    font-size: 1.5rem;
    font-weight: 500
}

.play-btn {
    align-self: center;
    color: #52616b;
    width: 6rem;
    border: 2px solid #52616b;
    margin-bottom: 1rem;
}

.btn-secondary {
   background-color: #c9d6df;
}

.fa-play-circle {
    font-size: 2rem;
}

#audio-control {
    width: 12rem;
}

.artist-link {
    font-style: bold;
    font-size: 1.75rem;
    font-weight: 800;
    text-decoration: none;
    color:  #52616b;
    padding-bottom: 1rem;
    margin-top: 10rem;
    margin-bottom: 2rem;
}
.artist-link:hover {
    color: black;
    font-size: 2.25rem;
    text-decoration: none;
}

/* Final Section - Call to action and distribution channel icons */

#channels {
    padding-top: 2.0rem;
    background-color: black;
    color: white;
    position: relative;
    padding-bottom: 3rem;
}
#cta {
    margin-bottom: 2rem;
}

.logo-box {
    position: relative;
    align-self: center;
    padding: 1rem;
}

.m-logos {
    margin-left: -1rem;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    align-self: center;
    border-radius: 0rem;
    height: 50px;
    width: 100px;
}

.m-logos:hover {
    transform: scale(1.15);
}

/* Footer and social icons */

#footer {
    font-size: 1.0rem;
    margin: 0;
    padding-top: 4rem;
    padding-bottom: 16rem;
    text-align: center;
}

.social-icon {
    color: #52616B;
    border: none;
    font-size: 35px;
    position: relative;
    margin: 0 .5rem 0 .5rem;
    cursor: pointer; /* Mouse pointer on hover */
}

.email-btn .tooltiptext {
    visibility: hidden;
    font-size: 1rem;
    width: 140px;
    background-color:#c9d6df;
    color:  #52616B;
    border-radius: 8px;
    border: solid 2px black;
    /* Position the tooltip */
    margin-left: -1rem;
    position: absolute;
    z-index: 1;
  }

.email-btn:hover .tooltiptext {
    visibility: visible;
  }

#ata-icon:hover {
    transform: scale(1.05);
  }

/* Style tweeks for Tablets */

@media (max-width: 1200px) {
    #title {
        text-align: center;
    }
    #cover {
        max-width: 400px;
    }
    #quote {
        font-size: 2.5rem;
    }
    .star-pic {
        max-width: 400px;
    }.demo-header {
        font-size: 3.0rem;
    }
    .demo-intro {
        font-size: 2.5rem;
    }
    .tracks-img {
        max-width: 350px;
    }
    .msg-box {
        font-size: 1.3rem;
    }
    .pic-box {
        text-align: center;
    }
    /* Borrowing mobile spacing div for tablet */
    .for-mobile-spacing {
        padding-bottom: 2rem;
    }
}

/* This is to address automatic bootstrap sizing changes to dropdown menu */

@media (max-width: 992px) {
    .dropdown-menu a{
        color: white;
        text-align: center;
    }
}

  /* Mobile Styling */

@media (max-width: 780px) {
    .navbar {
        padding: 0 0 2.5rem;
        border: none;
        border-color: black;
    }
    .navbar-expand {
        background-color: white;
        border: black;
        color: white;
    }
    /* .navitem {
        border: none;
        border-color: black;
    } */
    .dropdown-menu a{
        text-align: center;
        color: white;
    }
    #title {
        padding-top: 1rem;
        text-align: center;
        padding-bottom: 6rem;
    }
    #title .container-fluid {
        padding: 0% 7% 0% 7%;
    }
    .big-heading {
        font-size: 3.0rem;
        line-height: 1.0;
    }
    #cover {
        margin-top: 10%;
    }
    #quote {
        font-size: 1.75rem;
    }
    .msg-box {
        font-size: 1rem;
    }
    .pic-box {
        text-align: center;
    }
    .star-pic {
        width: 200px;
        height: 200px;
    }
    .for-mobile-spacing {
        padding-bottom: 2rem;
    }
    #demos {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .demo-header {
        margin-top: 1rem;
        padding-top: .25rem;
        font-size: 1.8rem;
        font-weight: 600;
    }
    .demo-intro {
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }
    .tracks-img {
        width: 180px;
        height: 180px;
    }
    .email-btn .tooltiptext {
        /* Position the tooltip */
        margin-left: -6rem;
        position: absolute;
        z-index: 1;
      }
    #footer {
        font-size: 1.0rem;
        margin: 0;
        padding-top: 4rem;
        padding-bottom: 24rem
  }
}
